<nav class='navbar navbar-default navbar-static-top'>
	<div class='container'>
		<ul class='nav nav-pills'>
			<li><a href='/login'>Login</a></li>
			<li><a href='/register'>Register</a></li>
			<li><a href='/congrats'>Congrats</a></li>
			<li><a href='/'>user list</a></li>
			<li><a href='/newsurvey'>new survery</a></li>
		</ul>
	</div>
</nav>